In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('lending_club_ml.csv')
df.info()

C:\Users\leero\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (34,93) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2506738 entries, 0 to 2506737
Columns: 109 entries, id to length_of_cr
dtypes: float64(95), int64(4), object(10)
memory usage: 2.0+ GB

In [3]:
#df.fillna(0,inplace = True)

In [3]:
for thing in df:
    if df[thing].dtype == 'object':
        print(thing)

grade
sub_grade
home_ownership
verification_status
purpose
initial_list_status
application_type
verification_status_joint
sec_app_earliest_cr_line
disbursement_method

In [5]:
df.application_type

0          Individual
1          Individual
2          Individual
3          Individual
4          Individual
5          Individual
6          Individual
7          Individual
8          Individual
9          Individual
10         Individual
11         Individual
12         Individual
13         Individual
14         Individual
15         Individual
16         Individual
17         Individual
18         Individual
19         Individual
20         Individual
21         Individual
22         Individual
23         Individual
24         Individual
25         Individual
26         Individual
27         Individual
28         Individual
29         Individual
              ...
2506708    Individual
2506709    Individual
2506710    Individual
2506711    Individual
2506712    Individual
2506713     Joint App
2506714    Individual
2506715    Individual
2506716    Individual
2506717    Individual
2506718    Individual
2506719    Individual
2506720    Individual
2506721    Individual
2506722    Individual
2506723    Individual
2506724     Joint App
2506725    Individual
2506726    Individual
2506727    Individual
2506728     Joint App
2506729    Individual
2506730    Individual
2506731    Individual
2506732     Joint App
2506733    Individual
2506734     Joint App
2506735    Individual
2506736    Individual
2506737     Joint App
Name: application_type, Length: 2506738, dtype: object

In [6]:
#pd.get_dummies(df)

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,annual_inc,loan_status,dti,...,settlement_date_Oct-16,settlement_date_Oct-17,settlement_date_Oct-18,settlement_date_Sep-12,settlement_date_Sep-13,settlement_date_Sep-14,settlement_date_Sep-15,settlement_date_Sep-16,settlement_date_Sep-17,settlement_date_Sep-18
0,1077501,5000.0,5000.0,4975.00000,36,10.65,162.87,24000.00,1,27.65,...,0,0,0,0,0,0,0,0,0,0
1,1077430,2500.0,2500.0,2500.00000,60,15.27,59.83,30000.00,0,1.00,...,0,0,0,0,0,0,0,0,0,0
2,1077175,2400.0,2400.0,2400.00000,36,15.96,84.33,12252.00,1,8.72,...,0,0,0,0,0,0,0,0,0,0
3,1076863,10000.0,10000.0,10000.00000,36,13.49,339.31,49200.00,1,20.00,...,0,0,0,0,0,0,0,0,0,0
4,1075358,3000.0,3000.0,3000.00000,60,12.69,67.79,80000.00,1,17.94,...,0,0,0,0,0,0,0,0,0,0
5,1075269,5000.0,5000.0,5000.00000,36,7.90,156.46,36000.00,1,11.20,...,0,0,0,0,0,0,0,0,0,0
6,1069639,7000.0,7000.0,7000.00000,60,15.96,170.08,47004.00,1,23.51,...,0,0,0,0,0,0,0,0,0,0
7,1072053,3000.0,3000.0,3000.00000,36,18.64,109.43,48000.00,1,5.35,...,0,0,0,0,0,0,0,0,0,0
8,1071795,5600.0,5600.0,5600.00000,60,21.28,152.39,40000.00,0,5.55,...,0,0,0,0,0,0,0,0,0,0
9,1071570,5375.0,5375.0,5350.00000,60,12.69,121.45,15000.00,0,18.08,...,0,0,0,0,0,0,0,0,0,0
10,1070078,6500.0,6500.0,6500.00000,60,14.65,153.45,72000.00,1,16.12,...,0,0,0,0,0,0,0,0,0,0
11,1069908,12000.0,12000.0,12000.00000,36,12.69,402.54,75000.00,1,10.78,...,0,0,0,0,0,0,0,0,0,0
12,1064687,9000.0,9000.0,9000.00000,36,13.49,305.38,30000.00,0,10.08,...,0,0,0,0,0,0,0,0,0,0
13,1069866,3000.0,3000.0,3000.00000,36,9.91,96.68,15000.00,1,12.56,...,0,0,0,0,0,0,0,0,0,0
14,1069057,10000.0,10000.0,10000.00000,36,10.65,325.74,100000.00,0,7.06,...,0,0,0,0,0,0,0,0,0,0
15,1069759,1000.0,1000.0,1000.00000,36,16.29,35.31,28000.00,1,20.31,...,0,0,0,0,0,0,0,0,0,0
16,1065775,10000.0,10000.0,10000.00000,36,15.27,347.98,42000.00,1,18.60,...,0,0,0,0,0,0,0,0,0,0
17,1069971,3600.0,3600.0,3600.00000,36,6.03,109.57,110000.00,1,10.52,...,0,0,0,0,0,0,0,0,0,0
18,1062474,6000.0,6000.0,6000.00000,36,11.71,198.46,84000.00,1,18.44,...,0,0,0,0,0,0,0,0,0,0
19,1069742,9200.0,9200.0,9200.00000,36,6.03,280.01,77385.19,1,9.86,...,0,0,0,0,0,0,0,0,0,0
20,1069740,20250.0,20250.0,19142.16108,60,15.27,484.63,43370.00,1,26.53,...,0,0,0,0,0,0,0,0,0,0
21,1039153,21000.0,21000.0,21000.00000,36,12.42,701.73,105000.00,0,13.22,...,0,0,0,0,0,0,0,0,0,0
22,1069710,10000.0,10000.0,10000.00000,36,11.71,330.76,50000.00,1,11.18,...,0,0,0,0,0,0,0,0,0,0
23,1069700,10000.0,10000.0,10000.00000,36,11.71,330.76,50000.00,1,16.01,...,0,0,0,0,0,0,0,0,0,0
24,1069559,6000.0,6000.0,6000.00000,36,11.71,198.46,76000.00,0,2.40,...,0,0,0,0,0,0,0,0,0,0
25,1069697,15000.0,15000.0,15000.00000,36,9.91,483.38,92000.00,1,29.44,...,0,0,0,0,0,0,0,0,0,0
26,1069800,15000.0,15000.0,8725.00000,36,14.27,514.64,60000.00,0,15.22,...,0,0,0,0,0,0,0,0,0,0
27,1069657,5000.0,5000.0,5000.00000,60,16.77,123.65,50004.00,0,13.97,...,0,0,0,0,0,0,0,0,0,0
28,1069799,4000.0,4000.0,4000.00000,36,11.71,132.31,106000.00,1,5.63,...,0,0,0,0,0,0,0,0,0,0
29,1047704,8500.0,8500.0,8500.00000,36,11.71,281.15,25000.00,1,12.19,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2506708,141071652,16500.0,16500.0,16500.00000,60,25.34,487.60,72000.00,1,23.80,...,0,0,0,0,0,0,0,0,0,0
2506709,140981058,22000.0,22000.0,22000.00000,60,11.55,484.39,36500.00,1,12.92,...,0,0,0,0,0,0,0,0,0,0
2506710,140978428,8500.0,8500.0,8500.00000,36,27.27,348.25,850000.00,1,10.90,...,0,0,0,0,0,0,0,0,0,0
2506711,140972686,15000.0,15000.0,15000.00000,36,10.08,484.58,160000.00,1,0.50,...,0,0,0,0,0,0,0,0,0,0
2506712,140566719,12000.0,12000.0,12000.00000,36,12.73,402.77,45000.00,1,19.25,...,0,0,0,0,0,0,0,0,0,0
2506713,140629847,2400.0,2400.0,2400.00000,36,18.94,87.91,40000.00,1,54.37,...,0,0,0,0,0,0,0,0,0,0
2506714,141094842,16000.0,16000.0,16000.00000,60,20.89,431.87,100000.00,1,8.41,...,0,0,0,0,0,0,0,0,0,0
2506715,141104666,12000.0,12000.0,12000.00000,36,11.55,396.00,44000.00,1,17.08,...,0,0,0,0,0,0,0,0,0,0
2506716,140407545,20000.0,20000.0,20000.00000,60,27.27,613.94,70000.00,1,23.11,...,0,0,0,0,0,0,0,0,0,0
2506717,141129236,5000.0,5000.0,5000.00000,36,11.06,163.84,50000.00,1,26.14,...,0,0,0,0,0,0,0,0,0,0
2506718,139793224,8000.0,8000.0,8000.00000,36,24.37,315.42,95000.00,1,31.52,...,0,0,0,0,0,0,0,0,0,0
2506719,139700915,10600.0,10600.0,10600.00000,60,30.75,347.85,35547.00,1,31.53,...,0,0,0,0,0,0,0,0,0,0
2506720,141109502,20000.0,20000.0,20000.00000,60,16.14,487.86,90000.00,1,28.01,...,0,0,0,0,0,0,0,0,0,0
2506721,141105661,9000.0,9000.0,9000.00000,36,7.84,281.37,35000.00,1,24.74,...,0,0,0,0,0,0,0,0,0,0
2506722,141048059,20500.0,20500.0,20500.00000,60,10.08,436.38,135000.00,1,3.32,...,0,0,0,0,0,0,0,0,0,0
2506723,139576542,1000.0,1000.0,1000.00000,36,13.56,33.97,14052.00,1,0.00,...,0,0,0,0,0,0,0,0,0,0
2506724,140009575,3250.0,3250.0,3250.00000,36,7.21,100.67,38000.00,1,10.27,...,0,0,0,0,0,0,0,0,0,0
2506725,141050201,2500.0,2500.0,2500.00000,36,19.92,92.81,70000.00,1,13.82,...,0,0,0,0,0,0,0,0,0,0
2506726,139852128,10000.0,10000.0,10000.00000,36,6.67,307.27,85000.00,1,33.16,...,0,0,0,0,0,0,0,0,0,0
2506727,141061119,1600.0,1600.0,1600.00000,36,19.92,59.40,75000.00,0,5.78,...,0,0,0,0,0,0,0,0,0,0
2506728,141096567,16000.0,16000.0,16000.00000,60,22.35,445.10,120000.00,1,12.08,...,0,0,0,0,0,0,0,0,0,0
2506729,140416700,5000.0,5000.0,5000.00000,36,10.47,162.45,42000.00,1,15.46,...,0,0,0,0,0,0,0,0,0,0
2506730,141069195,15000.0,15000.0,15000.00000,36,17.97,542.07,110000.00,1,12.87,...,0,0,0,0,0,0,0,0,0,0
2506731,141074520,12000.0,12000.0,11975.00000,36,17.97,433.65,110000.00,1,11.74,...,0,0,0,0,0,0,0,0,0,0
2506732,140955861,8000.0,8000.0,8000.00000,36,24.37,315.42,40000.00,1,43.50,...,0,0,0,0,0,0,0,0,0,0
2506733,140955172,15000.0,15000.0,15000.00000,36,19.92,556.85,65000.00,1,28.14,...,0,0,0,0,0,0,0,0,0,0
2506734,140705738,15000.0,15000.0,15000.00000,36,11.06,491.51,7000.00,1,97.94,...,0,0,0,0,0,0,0,0,0,0
2506735,140868919,28000.0,28000.0,27950.00000,36,17.97,1011.85,100000.00,1,13.90,...,0,0,0,0,0,0,0,0,0,0
2506736,140794718,35000.0,35000.0,35000.00000,36,13.56,1188.76,100000.00,1,14.80,...,0,0,0,0,0,0,0,0,0,0
2506737,140737385,35000.0,35000.0,34975.00000,36,6.67,1075.43,85000.00,1,22.15,...,0,0,0,0,0,0,0,0,0,0